$body: #ffffff;
$bodyText: #1c1c1c;
$line: #edeff1;
$actionIcon: #878a8c;
$navIcon: #1a1a1b;
$field: #f6f7f8;
$button: #0079D3;
$sidebarBorder: #ccc;
$maxMinWidth: 1250px;
$padMinWidth: 1210px;
$mediumMinWidth: 1070px;
$minMinWidth: 995px;
$mainMinWidth: 960px;
$innerMinWidth: 640px;
$mobileMinWidth: 600px;